:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

mat-drawer {
  width: 210px;
}

mat-drawer-container {
  height: 100%;
  /* margin-left: 20px; */
}

mat-drawer-content {
  padding: 0px;
  
}

mat-drawer-inner-container {
  overflow: hidden;
}
.section-right{
  margin-left: 3rem;
}